@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.world-map {
  mask: url("/world.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
}
